.vs*
*.pyc

.DS_Store

# factors pickled files
*_factors

# pipeline config
*global_settings.py

# Editors
.vscode/

# Mac/OSX
.DS_Store

__pycache__/
*.py[cod]
*$py.class

*.log

*.egg*

*.ipynb_checkpoints/