.vscode/
.vs*
*.pyc

.DS_Store

__pycache__/
*.py[cod]
*$py.class

ecco_pipeline/logs

*.ipynb_checkpoints/

# factors pickled files
*_factors

# pipeline config
*global_settings.py

*egg-info

*/reports/*.csv