import os
from pathlib import Path

'''
Example global_settings.py file.

You should create a new global_settings.py file set for your configuration. 
'''

ROOT_DIR = os.path.realpath(os.path.join(os.path.dirname(__file__), '..'))
OUTPUT_DIR = Path('/path/to/output/directory')
GRIDS = ['ECCO_llc90']

SOLR_HOST = 'http://localhost:8983/solr/'
SOLR_COLLECTION = 'ecco_datasets'

log_filename = ''

os.chdir(ROOT_DIR)
